<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <display-name>Archetype Created Web Application</display-name>
    <welcome-file-list>
        <welcome-file>authorization.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.PaymentApp.servlets.RegistrationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.PaymentApp.servlets.LogOutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserHomePageServlet</servlet-name>
        <servlet-class>com.PaymentApp.servlets.user.UserHomePageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserHomePageServlet</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CardReplenishmentServlet</servlet-name>
        <servlet-class>com.PaymentApp.servlets.user.CardReplenishmentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CardReplenishmentServlet</servlet-name>
        <url-pattern>/Replenishment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.PaymentApp.servlets.user.PaymentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentsDetailsServlet</servlet-name>
        <servlet-class>com.PaymentApp.servlets.user.PaymentsDetailsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PaymentsDetailsServlet</servlet-name>
        <url-pattern>/PaymentDetails</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentActionServlet</servlet-name>
        <servlet-class>com.PaymentApp.servlets.user.PaymentActionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PaymentActionServlet</servlet-name>
        <url-pattern>/PaymentAction</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CheckAdminFilter</filter-name>
        <filter-class>com.PaymentApp.filters.CheckAdminFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CheckAdminFilter</filter-name>
        <url-pattern>/SignIn</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.PaymentApp.filters.AuthorizationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/SignIn</url-pattern>
    </filter-mapping>


</web-app>